# js
node_modules
public/js/app.js

# html
public/templates.html

# PHPStorm
.idea

# Composer files
composer.lock
vendor/

# Local configs
config/autoload/*.local.php

# Data
data/logs/
data/cache/
data/sessions/
data/tmp/
temp/

